
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: #8CB2B0;

}

body {
    font-family: Arial, sans-serif, bold;
    background-color: #E9F5EE;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    color: white;
    padding: 10px 20px;
}

/*Estilos cadastro funcionário */

.employee-image {
    margin-top: 20px;
}

.employee-image img {
    max-width: 40%;
    border-radius: 50%; /* Tornar a imagem arredondada */
}


.navbar {
    background-color: #fff;
}

#logo {
    width: 170px;
    height: 70px;
}

.dropdown-toggle::after {
    content: none !important;
  }

.header a {

    color: #8CB2B0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

 
.linkss {
    margin-left: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 112px);
}

.login-form {
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
    
}

.forget{
    font-size: 12px;
    color: #5b6b8b;
    float: right;
}

.login-form h2 {
    margin-bottom: 50px;
}

.login-form input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #8CB2B0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 20px auto 0 auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
    color: #525252;
    clear: both;
}

canvas {
    display: block;
    margin: 0 auto;
    width:"652";
    height:"326";
    display: block; 
    box-sizing: border-box; 
    height: 163px;
    width: 326px;
}


#logo_equipe{
    width: 70px;
    height: 60px;
}

 
footer {
    color: #A9A3A3;
    font-weight: 500;
    background-color: #fff;
  
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    width: 100%;
    height: 70px;

  
}