* {

    margin: 0;

    padding: 0;

}

 

.navbar {

    background-color: #fff;

}

 

#logo {

    width: 170px;

    height: 70px;

}

 

 

.dropdown-toggle::after {

    content: none !important;

  }

 

 

 

.header a {

    color: #8CB2B0;

    font-size: 18px;

    text-decoration: none;

    font-weight: 500;

 

}

 

.linkss {

    margin-left: 20px;

}

 

body {

    background-color: #E9F5EE;

}

 

.container-form {

    margin-top: 50px;

    background-color: #fff;

    border-radius: 20px;
    

}



.cont-form {

    padding: 0px 40px 80px 40px;

    font-weight: 500;

    color: #000;

 

   

}

.input_imagem{
    display: inline-block;
}



.titulo {

    padding: 20px 0px 0px 0px;

    color: #8CB2B0;

    margin-bottom: 20px;

}

 

.form-group {

    margin-bottom: 20px;

}

.div_foto {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
 

.status {

    margin-top: 20px;

}

 

.btn {

    width: 200px;

    color: #fff;

    background-color: #8CB2B0;

    font-weight: 500;

}

 

.btn:hover{

    border: 2px solid #8CB2B0;

    background-color: #fff;

    color: #8CB2B0;

   

}

 
#logo_equipe{
    width: 70px;
    height: 60px;
}

#p_footer{
    color: #A9A3A3;
    font-weight: bold;
}

.funcionario-img{
    width: 200px;
    height: 200px;
}
  
footer {
    color: #A9A3A3;
    font-weight: 500;
    background-color: #fff;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
    width: 100%;
    height: 70px;

    
    
}

@media (max-width: 1000px){
    .container-form {
        width: 450px;
    }
}


@media (max-width: 768px){
    .funcionario-img{
        width: 150px;
        height: 150px;
    }
    .div_foto{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 500px){
    .container-form {
        width: 350px;
    }
    .input_imagem{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
}