
* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff;
}

#logo {
    width: 170px;
    height: 70px;
}


.dropdown-toggle::after {
    content: none !important;
  }



.header a {
    color: #8CB2B0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;

}

.linkss {
    margin-left: 20px;
}

body {
    background-color: #E9F5EE;
}

.container-form {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 20px;
    
}

.cont-form {
    padding: 0px 40px 80px 40px;
    font-weight: 500;
    color: #000;
}

.titulo {
    padding: 20px 0px 0px 0px;
    color: #8CB2B0;
}

.form-group {
    margin-bottom: 20px;
}

#asterisco {
    color: red;
}

#inputDate {
    padding: 8px; 
      border: 1px solid #ced4da; 
      border-radius: 10px;
      height: 40px;
}

.btn {
    width: 200px;
    color: #fff;
    background-color: #8CB2B0;
    font-weight: 500;
}

.btn:hover{
    border: 2px solid #8CB2B0;
    background-color: #fff;
    color: #8CB2B0;
    
}

#logo_equipe{
    width: 70px;
    height: 60px;
}

#p_footer{
    color: #A9A3A3;
    font-weight: bold;
}

  
footer {
    color: #A9A3A3;
    font-weight: 500;
    background-color: #fff;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
    width: 100%;
    height: 70px;

    
    
}


